<h1> Coordinates to Weather </h1>

<form action = <%= @calculation %>>

  <div>
  <label for = 'Latitude'>Latitude</label>
  <input id = 'Latitude' type='text' placeholder = 'Enter the Latitude' name = 'Latitude'>
  </div>

  <div>
  <label for = 'Longitude'>Longitude</label>
  <input id = 'Longitude' type='text' placeholder = 'Enter the Longitude' name = 'Longitude'>
  </div>

  <div>
  <button> Lookup weather! </button>
  </div>

</form>