<h1> Street address to <%= @operation %> calculation </h1>

<form action = <%= @calculation %>>

  <label for = 'address'>Street Address</label>
  <input id = 'address' type='text' placeholder = 'Enter the address' name = 'address'>

  <div>
  <button> <%= @button_msg %> </button>
  </div>

</form>

